.container { max-width: 1100px; margin: auto; 
    font-family: 'Ubuntu', sans-serif;
display: flex;
flex-wrap: nowrap;
}
.container aside h2, .container aside p
{
        display: block;
        margin: 20px auto;
        padding: 25px auto;
}

.container   aside { width: 500px; float: left; margin: 10px 25px}
    .container main  { width: 500px; float: left;
    margin: 10px 25px;  }
    .container   .clear { clear: both; }
    
    footer { background-color: #aaa;  }
    h1{
        text-align: center;
        font-weight: bold;
        font-size: 2.3em;
        font-family: 'Ubuntu', sans-serif;
    }
    .education { 
        display: flex;
        flex-wrap: nowrap;
        max-width: 1100px; margin: 10px auto; font-family: 'Ubuntu', sans-serif;}
    .education main{
        width: 1100px; float: left;
        margin: 20px 25px;
        
    }
    .basicInfo
    {
        margin: 20px auto;
        padding: 10px auto;
        display: block;
    }
    .basicInfo span.title
    {
        display: inline-block;
        margin: 10px 10px;
        width: 120px;
        text-align: left;
        font-weight: bold;
    }
    .basicInfo span.descp
    {
        display:inline-block;
        margin: 10px auto;
        width: 160px;
        text-align: left;
    }

    .education h2{
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
    }